/* ---- Hero section ---- */

.hero {
    gap: 40px;
    display: flex;
    justify-content: center;

    font-family: 'Raleway';
}

.bird-hero-img {
    width: 600px;
}

.heading-hero {
    font-size: 60px;
    font-weight: 500;

    padding-top: 170px;
}

.heading-name {
    color: #598D66;
}

.right-hero {
    gap: 25px;
    display: flex;
    align-items: baseline;
    flex-direction: column;
}

.right-hero-text {
    color: #86928B;
    font-size: 18px;
    font-weight: 500;
}

.products-button {
    background-color: white;
    border-color: #598D66;
    border-width: 1px;
    border-style: solid;

    color: #598D66;

    padding: 20px 60px;
}

/* ==== Catalog section ==== */

/* ---- Catalog top section ----*/
.catalog-top {
    display: flex;
    justify-content: space-around;

    font-family: 'Raleway';
    color: #2C2D35;
}

.heading-catalog {
    font-size: 30px;
    font-weight: 500;
}

.country-buttons {
    gap: 25px;
    display: flex;
}

.france {
    background-color: #376B44;

    padding: 10px 20px;
    border-radius: 20px;

    color: #F4F6F5;
}

.germany, .england {
    background-color: #D4E8D9;

    padding: 10px 20px;
    border-radius: 20px;
}